---
import Splash from "../components/splash.astro";
import VisionMission from "../components/VisionMission.astro"; // Corrected import
import FlagshipProgram from '../components/FlagshipProgram.astro';
import Team from '../components/Team.astro';
import Footer from '../components/Footer.astro';
import "../styles/index.css";

const { generator, site } = Astro;
const image = new URL("/cyprus_webpage/social.jpg", site);
const description = "Bridging Cypriot Youth Through Tech Education";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/cyprus_webpage/favicon.svg" type="image/svg+xml" />
		<meta name="generator" content={generator} />
	
		<title>Cyprus Initiative</title>
		<meta name="description" content={description} />
	
		<!-- social media -->
		<meta property="og:title" content="Cyprus Initiative" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />
		<meta property="og:url" content={site} />
		<meta name="twitter:card" content="summary_large_image" />
	
		<!-- initialize theme -->
		<script is:inline>
		  const themeSaved = localStorage.getItem("theme");
	
		  if (themeSaved) {
			document.documentElement.dataset.theme = themeSaved;
		  } else {
			const prefersDark = window.matchMedia(
			  "(prefers-color-scheme: dark)",
			).matches;
			document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
		  }
	
		  window
			.matchMedia("(prefers-color-scheme: dark)")
			.addEventListener("change", (event) => {
			  if (!localStorage.getItem("theme")) {
				document.documentElement.dataset.theme = event.matches
				  ? "dark"
				  : "light";
			  }
			});
		</script>
	  </head>
	<body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-white selection:text-black">
		<Splash />


<section id="more-info" class="min-h-screen min-w-screen h-fit-content overflow-x-hidden bg-white">
		<VisionMission />
		<FlagshipProgram />
		<!-- Button to scroll to the team section. Is in the middle of the page horizontally -->
		<div class="flex justify-center mb-8">
		<a href="#team-section" class="scroll-button">
			<button class=" rounded-full p-4 shadow-lg transition duration-150 flex items-center justify-center bg-gradient-to-br from-yellow-600 via-yellow-500 to-yellow-400 px-12 pb-6 pt-5 text-xl font-extrabold leading-normal text-white hover:bg-yellow-400 hover:shadow-primary-2 focus:bg-yellow-500 focus:shadow-primary-2 hover:text-black focus:outline-none focus:ring-0 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
				<span class="mr-2">Meet the Team</span>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 13l-5 5m0 0l-5-5m5 5V6" />
				</svg>
			</button>
		</a>
		</div>
</section>
<section id="team-section" class="min-h-screen h-fit-content overflow-x-hidden bg-default">
	<div class="container mx-auto p-8">
		<Team />
	</div>
</section>
	<Footer />
	</body>

</html>

<script>
	document.getElementById('learn-more')?.addEventListener('click', function() {
	  document.getElementById('more-info')?.scrollIntoView({ behavior: 'smooth' });
	});
</script>